.bg-tel {
    width: 19px; height: 19px;
    background: url('css_sprites.png') -58px -10px;
}

x
.bg-mail {
    width: 20px; height: 15px;
    background: url('css_sprites.png') -48px -58px;
}

x
.bg-clock {
    width: 18px; height: 18px;
    background: url('css_sprites.png') -10px -58px;
}

x
.bg-map {
    width: 28px; height: 28px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-youtube {
    width: 30px; height: 22px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-inctagram {
    width: 22px; height: 22px;
    background: url('css_sprites.png') -60px -10px;
}