/*~~~~~~~~~~~~~~~~~~~~~~~~~
TRANK PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.trank-page {
	height: 1px;

	main {
		padding: 169px 30px 70px;
		height: 100%;
		text-align: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}

	&__title {
		font-size: 50px;
		line-height: (56/50);
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: 40px;
		font-size: 25px;
		text-transform: uppercase;
	}

	&__btn {
		margin-top: 90px;
		
		&.btn {
			height: 40px;
			min-width: 185px;
			font-weight: 700;
			font-size: 19px;
			line-height: 40px;
		}
	}

	@include table {
		&__title {
			font-size: 42px;
		}
	
		&__subtitle {
			margin-top: 33.5px;
			font-size: 21px;
		}
	
		&__btn {
			margin-top: 75px;
		}
	}

	@include mobile {
		main {
			padding: 100px 30px 50px;
		}

		&__title {
			font-size: 32px;
		}
	
		&__subtitle {
			margin-top: 25px;
			font-size: 16px;
		}
	
		&__btn {
			margin-top: 55px;
		}
	}
}