/*~~~~~~~~~~~~~~~~~~~~~~~~~
Переиспользуемые блоки сайта
~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*logo*/
.logo {
	cursor: pointer;
	display: block;
	width: 165px;

	@include mobile {
		width: 134px;
	}
}

.sci {
	&__item {
		display: block;
		margin-right: 12px;
		background-image: url('./../../img/icons/sprites-sci.png');
		background-repeat: no-repeat;

		&:last-child {
			margin-right: 0;
		}

		&--insta {
			width: 22px; 
			height: 22px;
			background-position: -60px -10px;
		}

		&--youtube {
			width: 30px; 
			height: 22px;
			background-position: -10px -10px;
		}
	}

	@include mobile {
		&__item {
			transform: scale(0.77);
		}
	}
}

/*search*/
.search {
	position: relative;
	display: inline-block;

	&__input {
		padding: 0 45px 0 18px;
		height: 33px;
		min-width: 323px;
		font-size: 14px;
		line-height: 1;
		font-weight: 400;
		color: var(--color-text);
		border: 1px solid var(--color2);
		border-radius: 11.5px;
		text-overflow: ellipsis;

		&::placeholder {
			color: #868785;
		}
	}

	&__btn-submit {
		box-sizing: content-box;
		position: absolute;
		top: 50%;
		padding: 5px;
		right: 22px;
		width: 16px;
		height: 16px;
		background-color: transparent;
		background-image: url('./../../img/icons/search.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-origin: content-box;
		transform: translateY(-50%);
	}

	&__btn-close {
		display: none;
		width: 26px;
		height: 26px;

		svg path {
			display: block;
			width: inherit;
			height: inherit;
			fill: #272727;
		}
	}
}

/*hemburger*/
.hamburger {
	$bg-line: #343434;

	cursor: pointer;
	position: relative;
	width: 45px;
	height: 45px;
	border: 2px solid var(--color2);
	border-radius: 50%;
	overflow: hidden;
	transition: background-color $duration;

	&.active {
		span {
			background-color: transparent;

			&::after,
			&::before {
				transition: top $duration, bottom $duration, transform $duration $duration;
			}

			&::before {
				top: 0;
				transform: rotate(-45deg);
			}

			&::after {
				bottom: 0;
				transform: rotate(45deg);
			}
		}


	}

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		display: block;
		width: 51.35%;
		height: 2px;
		background-color: $bg-line;
		transform: translate(-50%, -50%);
		transition: background 0s $duration;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: $bg-line;
			transition: top $duration $duration, bottom $duration $duration, transform $duration 0s;
		}

		&::before {
			top: -6px;
		}

		&::after {
			bottom: -6px;
		}
	}

	@include mobile {
		width: 37px;
		height: 37px;
	}
}


/*menu*/
.menu {
	display: flex;
	align-items: center;

	&__link {
		display: inline-block;
		margin-right: 22px;
		font-size: var(--font-size-norm);
		font-family: var(--font-family);
		font-weight: 600;
		color: var(--color-text);

		&:last-child {
			margin-right: 0;
		}
	}
}

/*Элементы с иконками для времени, телефона, мыла...*/
.item-ic {

	@at-root %baseStyle {
		position: relative;
		white-space: nowrap;
	
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			background-image: url('../../img/icons/sprites-1.png');
			background-repeat: no-repeat;
			transform: translateY(-50%);

			@include mobile {
				transform: translateY(-50%) scale(0.89);
			}
		}
	}
	

	&--mail {
		@extend %baseStyle;
		padding-left: 30px;

		&::before {
			width: 20px; 
			height: 15px;    
			background-position: -48px -58px;
		}
	}

	&--tel {
		@extend %baseStyle;
		padding-left: 23px;

		&::before {
			width: 19px; 
			height: 19px;    
			background-position: -58px -10px;
		}
	}

	&--time {
		@extend %baseStyle;
		padding-left: 28px;

		&::before {
			width: 18px; 
			height: 18px;
			background-position: -10px -58px;
		}
	}

	&--location {
		@extend %baseStyle;
		padding-left: 28px;

		&::before {
			left: -4px;
			width: 28px; 
			height: 28px;
			background-position: -10px -10px;
			transform: translateY(-50%) scale(0.69);
		}
	}
}

.utp {
	position: relative;
	min-height: 606px;

	.container {
		display: flex;
	}

	&__video {
		position: absolute;
		right: -110px;
		top: -463px;
		z-index: 1;
		flex-shrink: 0;
		width: 1070px;
		height: 1070px;
		overflow: hidden;
		border-radius: 50%;
		background-color: #424040;
		
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border: 2px solid var(--color2);
			border-radius: 50%;
		}

		&-inner {
			position: absolute;
			left: 0px;
			bottom: -45px;
			width: 100%;
			height: 703px;
		}

		@include desctop-min {
			position: relative;
			margin: -199px auto 0;
			top: auto;
			right: auto;
			width: 800px;
			height: 800px;

			&-inner {
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}

		@include table {
			width: 100%;
			height: auto;
			padding-top: 100%;
		}

		@include mobile {
			top: -83px;
			margin-top: 0;
		}
	}

	&__content {
		margin-top: 128px;
		padding-top: calc(603*(1px - (100vw - 1220px)/(1920 - 1220)));
		max-width: 570px;

		@media (max-width: 1400px) {
			margin-top: 30px;
		}

		@include desctop-min {
			padding-top: 0;
		}
	}

	&__offers {
		margin-top: 35px;
		display: flex;
	}

	&__offer {
		margin-right: 90px;
		text-align: center;
		max-width: 240px;

		&:last-child {
			margin-right: 0;
		}

		&-img {
			display: inline-block;
			margin: 0 auto;
			width: 97px;
		}

		&-text {
			margin-top: 15px;
		}
	}

	&__btn {
		margin-top: 50px;
	}

	@include desctop-min {
		padding-top: 0;

		.container {
			position: relative;
			flex-direction: column;
		}

		&__title {
			position: absolute;
			top: -1px;
			left: 50%;
			z-index: 5;
			padding: 15px 0;
			width: 100vw;
			background-color: rgba(255, 255, 255, 0.80);
			text-align: center;
			box-shadow: 0 0 8px rgba(#353535, 0.41);
			transform: translateX(-50%);
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: none;
		}

		&__btn {
			order: -1;
		}
	}

	@include mobile {
		&__btn {
			margin-top: -51px;
		}
	}

}

.reason {
	position: relative;
	padding: 93px 0 110px;
	background-image: var(--rtl-gradient);

	&__bg {
		position: absolute;
		top: 50%;
		right: calc(-180*(1px - ((100vw - 1220px)/(1920 - 1220))));
		width: 387px;
		height: 377px;
		background-image: url("./../../img/pages/index/kupel.png");
		background-repeat: no-repeat;
		background-size: contain;
		transform: translate(-50%, -50%);

		@include desctop-min {
			right: 0;
			width: 320px;
			height: 300px;
			transform: translate(0%, -50%);
		}

		@include table {
			display: none;
		}
	}

	&__content {
		width: 940px;

		@include adaptive($bp-tablet+1, $bp-desctop) {
			width: calc(770px + (950 - 770)*((100vw - 1220px)/(1920 - 1220)));
		} 

		@include desctop-min {
			width: calc(660px + (770 - 660)*((100vw - 1024px)/(1220 - 1024)));
		}
	}

	&__title {
		font-weight: 600;
		text-transform: uppercase;
	}

	&__text {
		margin-top: 30px;
		font-weight: 400;
	}

	&__subtitle {
		margin-top: 40px;
		font-size: 24px;
		line-height: (35/24);
		font-weight: 600;
		text-transform: uppercase;
	}

	@media (min-width: 1920px) {
		.container {
			position: relative;
		}

		&__bg {
			right: auto;
			left: 100%
		}
	}

	@include table {
		padding: 60px 0 70px;

		&__content {
			width: 100%;
			text-align: center;

			br {
				display: none;
			}
		}

		&__text {
			margin-top: 25px;
			font-weight: 300;
		}

		&__subtitle {
			margin-top: 25px;
			font-size: 20px;
		}
	}

	@include mobile{
		padding: 22px 0;

		&__title {
			text-transform: none;
		}

		&__text {
			margin-top: 25px;
		}

		&__subtitle {
			font-weight: 400;
			font-size: 14px;
		}
	}
}

/*Информативные блоки на главной странице*/
.desc {
	padding: 85px 0 85px;

	&__bg {
		position: absolute;
		z-index: -1;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__bgCirc {
		--sizeBg: 818px;

		position: absolute;
		z-index: -1;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -3.67%;
			z-index: 2;
			width: var(--sizeBg);
			height: var(--sizeBg);
			border: 1px solid var(--color2);
			border-radius: 50%;
		}
	
		&-inner {
			position: relative;
			width: var(--sizeBg);
			height: var(--sizeBg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 50%;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.62);
			}
		}

		@include desctop-min{
			--sizeBg: 618px;
		}

		@include table {
			--sizeBg: 418px;
		}

		@include mobile{
			--sizeBg: 312px;
		}
	}

	&__title {
		text-align: center;
	}

	&__content {
		margin-top: 50px;
	}

	&__subtitle {
		font-weight: 600;
		text-transform: uppercase;
	}

	&__text {
		margin-top: 10px;
	}

	&__list {
		margin-top: 55px;
		width: 600px;
		font-weight: 300;
		font-size: 16px;
		line-height: (20/16);
		color: #313131;
		text-align: left;

		&-item {
			position: relative;
			margin-bottom: 30px;
			padding-left: 55px;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '\2713';
				position: absolute;
				left: 0;
				top: -3px;
				width: 31px;
				height: 31px;
				font-weight: 500;
				font-size: 19px;
				text-align: center;
				line-height: 31px;
				color: var(--color2);
				border-radius: 50%;
				box-shadow: 0 0 8px rgba(117, 176, 41, 0.66);
			}
		}
	}

	&__circle {
		display: inline-block;

		&s {
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
		}

	
		@at-root %imgBase {
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			overflow: hidden;
		}

		&-img {
			@extend %imgBase;
			width: 170px;
			height: 170px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border: 3px solid var(--color2);
			box-shadow: 0 0 8px rgba(117, 176, 41, 0.31);
		}

		&-text {
			display: block;
			margin-top: 25px;
			font-size: 15px;
			line-height: (25/15);
			font-weight: 300;
			color: #353535;
			text-align: center;
		}

		@include mobile {
			&-img {
				width: 110px;
				height: 110px;
				border-width: 2px;
			}

			&-text {
				margin-top: 15px;
				font-size: 12px;
				line-height: (12/14);
			}
		}

		@at-root &--small {
			&.desc__circle {
				margin: 0 10px 15px;
				max-width: 150px;

				@include mobile {
					max-width: 120px;
				}
			}

			.desc__circle-img {
				@extend %imgBase;
				width: 126px;
				height: 126px;
				border: none;
				box-shadow: 0 0 9px rgba(117, 176, 41, 0.66);

				@include mobile {
					width: 70px;
					height: 70px;
				}
			}

			.desc__circle-text {
				display: block;
				margin-top: 15px;
				font-weight: 400;
				font-size: 16px;
				line-height: (20/16);

				@include mobile {
					margin-top: 10px;
					font-weight: 300;
					font-size: 12px;
					line-height: (14/12);
				}
			}
		}
	}


	@include table {
		padding: 50px 0;

		&__content {
			margin-top: 30px;
			text-align: center;
		}

		&__subtitle {
			text-transform: uppercase;
			text-align: center;
		}

		&__list {
			width: auto;
		}
	}

	@include mobile {
		padding: 23px 0;

		&__content {
			margin-top: 20px;
		}
		&__subtitle {
			font-weight: 400;
		}

		&__text {
			margin-top: 30px;
		}

		&__list {
			margin-top: 20px;
			font-size:  12px;
			line-height: (15/12);

			&-item {
				padding-left: 45px;

				&::before {
					top: -8px;
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}

/*advantages*/
.advantage {

	&s {
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	display: inline-block;
	margin: 0 20px;
	max-width: calc(25% - 40px);
	width: 100%;
	text-align: center;

	&__img {
		margin: 0 auto;
		width: 169px;
		height: 169px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border: 3px solid var(--color2);
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 0 21px rgba(117, 176, 41, 0.38);
	}

	&__text {
		margin-top: 32px;
		font-weight: 400;
		font-size: 16px;
		line-height: (25/16);

		&-strong {
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	@include table {
		margin: 0 20px 30px 20px;
		max-width: calc(40% - 40px);
	}

	@include mobile {
		&s {
			margin-top: -60px;
		}

		min-width: 120px;

		&__img {
			width: 120px;
			height: 120px;
			border-width: 2px;
		}

		&__text {
			margin-top: 20px;
			font-weight: 300;
			font-size: 12px;
			line-height: (18/12);
		}
	}

	@media (max-width: 400px) {
		&s .container {
			justify-content: center;
		}
	}
}

/*products*/
.product {
	border: 1px solid var(--color2);
	border-radius: 16px;

	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px 15px;
		min-height: 88px;
		font-weight: 400;
		font-size: 18px;
		line-height: (29/18);
		color: #1c1b1b;
		background-color: #edf0e8;
		border-bottom: 1px solid var(--color2);
		border-radius: 16px 16px 0 0;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		padding: 40px 50px 20px 35px;

		&-img {
			margin: 0 auto;
			max-width: 340px;
			width: 100%;
			height: 350px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		&-info {
			padding-left: 10px;
		}
	}

	&__desc {
		&-item {
			margin-bottom: 35px;
			position: relative;
			padding-left: 57px;
			font-weight: 400;
			font-size: 18.5px;
			line-height: 1;
			color: #858484;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-img {
			position: absolute;
			left: 0;
			top: -10px;
			width: 38px;
			height: 38px;
			border: 1px solid var(--color2);
			border-radius: 50%;
			box-shadow:  0 0 10px rgba(0,1,5, 0.21);

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				transform: translate(-50%, -50%);

				.product__desc-item--width & {
					width: 25px;
					height: 11px;
					background-image: url("./../../img/icons/desc-width.png");
				}

				.product__desc-item--height & {
					width: 13px;
					height: 25px;
					background-image: url("./../../img/icons/desc-height.png");
				}

				.product__desc-item--capacity & {
					width: 21px;
					height: 14px;
					background-image: url("./../../img/icons/desc-capacity.png");
				}

				.product__desc-item--vol & {
					width: 15px;
					height: 20px;
					background-image: url("./../../img/icons/desc-val.png");
				}
			}
		}
	}

	&__price {
		margin-top: 57px;
		font-weight: 400;
		font-size: 21.1px;
		line-height: (29/21);
		color: #1c1b1b;
	}	

	&__btns {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 25px;
	}

	&__btn-detail {
		margin-top: 15px;
	}

	&s {
		&__title {
			margin-bottom: 42px;
			font-weight: 300;
			font-size: 32px;
			line-height: 1;
			color: var(--color-text);
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 -36px -30px;
		}

		&__product {
			margin: 0 0 36px 30px;
			width: calc(50% - 30px);
		}
	}

	@include table {
		&s__product {
			width: 100%;
		}
	}

	@include mobile {
		border-radius: 14px;

		&__name {
			min-height: 62px;
			font-size: 13px;
			line-height: (20.5/13);
			border-radius: 14px 14px 0 0;
		}
	
		&__content {
			padding: 25px 20px;
	
			&-img {
				max-width: 340px;
				width: 100%;
				height: 350px;
			}
	
			&-info {
				padding: 0 30px 0 10px;
			}
		}
	
		&__desc {
			&-item {
				margin-bottom: 35px;
				position: relative;
				padding-left: 57px;
				font-weight: 400;
				font-size: 18.5px;
				line-height: 1;
				color: #858484;
	
				&:last-child {
					margin-bottom: 0;
				}
			}
	
			&-img {
				position: absolute;
				left: 0;
				top: -10px;
				width: 38px;
				height: 38px;
				border: 1px solid var(--color2);
				border-radius: 50%;
				box-shadow:  0 0 10px rgba(0,1,5, 0.21);
	
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					transform: translate(-50%, -50%);
	
					.product__desc-item--width & {
						width: 25px;
						height: 11px;
						background-image: url("./../../img/icons/desc-width.png");
					}
	
					.product__desc-item--height & {
						width: 13px;
						height: 25px;
						background-image: url("./../../img/icons/desc-height.png");
					}
	
					.product__desc-item--capacity & {
						width: 21px;
						height: 14px;
						background-image: url("./../../img/icons/desc-capacity.png");
					}
	
					.product__desc-item--vol & {
						width: 15px;
						height: 20px;
						background-image: url("./../../img/icons/desc-val.png");
					}
				}
			}
		}
	
		&__price {
			margin-top: 57px;
			font-weight: 400;
			font-size: 21.1px;
			line-height: (29/21);
			color: #1c1b1b;
		}	
	
		&__btns {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 25px;
		}
	
		&__btn-detail {
			margin-top: 15px;
		}
	
		&s {
			&__title {
				margin-bottom: 42px;
				font-weight: 300;
				font-size: 32px;
				line-height: 1;
				color: var(--color-text);
			}
	
			&__list {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 -36px -30px;
			}
		}
	}
}
